.fonteCadastroP {
  font-family: "Poppins", sans-serif !important;
}

.bgCadastroP {
  background-color: #762cad !important;
  font-family: "Poppins", sans-serif !important;
}

.bgListaPB2 {
  background-color: #762cad !important;
  font-family: "Poppins", sans-serif !important;
}

.bgListaP {
  background-color: white !important;
}
