.fonteCadastroP {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

.bgCadastroP {
  background-color: #000 !important;
}

.bgListaPB2 {
  background-color: #d63031 !important;
}

.bgListaP {
  background-color: #f3f3f5 !important;
}
