.caixatabpostagem {
  background: linear-gradient(
    135deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
}

.titulo {
  font-weight: bold;
}

.bgtab {
  background: linear-gradient(
    90deg,
    rgba(124, 51, 172, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
}

.corletra {
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
}

.bgpainel {
  background: linear-gradient(
    135deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
}

.tab {
  border-radius: 100% !important;
}

/*#fcfeee*/
