.backgroundcategoria {
  background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}

.backgroundform {
  border-radius: 2rem;
  width: 88% !important;
  background-color: #8f54ba;
  text-align: right;
}

.divform {
  padding-top: 8%;
}

.form-cad-categoria{
  padding: 2rem;
}

.titulocategoria {
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  color: rgb(243, 243, 243) !important;
  padding-bottom: 2rem;
}

#descricao{
  height: 9rem !important;
}

.nome21 {
  background-color: #d5b2ef !important;
  border-radius: 16px !important;
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.txt-field-descricao {
  background-color: #d5b2ef !important;
  border-radius: 16px !important;
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.nome21 .MuiOutlinedInput-root {
  border-radius: 16px;
}

.txt-field-descricao .MuiOutlinedInput-root {
  border-radius: 16px;
}

.imagemFormularioCategoria {
  background-image: url(https://cdn.discordapp.com/attachments/988429116711772190/1020396560598696038/fundo.png);
  background-size: cover;
  background-position: center !important;
  width: 28rem !important;
  height: 25rem !important;
  border-radius: 0% !important;
}

