.text-decorator-none{
    text-decoration: none;
}

.backgroundlista{
background: linear-gradient(45deg, rgba(60,0,97,1) 0%, rgba(118,44,173,1) 50%, rgba(136,67,171,1) 100%);
padding: 4rem;
}

.boxlista{
    background: #8F54BA !important;
    padding: 0.5rem;
    border-radius: 2rem !important;
    width: 40rem !important;
    height: 14rem;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 4rem;
}

.botaobackground{
    background:#704292 !important;
    padding: 0.5rem;
    border-radius: 2rem !important;
    width: 18rem !important;
    height: 4rem;
    margin-left: 20rem !important;
    margin-right: auto !important;
    line-height: 4rem;
}

.botao{
   display: flex;
}

.btAtualizar{
    color: #360c58 !important;
    background-color: #D5B2EF !important;
    width: 8rem;
    height: 2.8rem;
    border-radius: 5rem !important;
}

.btDeletar{
    color: #360c58 !important;
    background-color: #D5B2EF !important;
    width: 8rem;
    height: 2.8rem;
    border-radius: 5rem !important;
}

.txtCategoria{
    color:white;
}

.txtNome{
    color:white;
    font-weight: bold;
    font-size: 1.8rem;
}

.txtDescricao{
    color:white;
}
