.text-decorator-none {
  text-decoration: none;
}

.backgroundlista {
  background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
  padding: 2rem;
}

.boxlista {
  background: #8f54ba !important;
  padding: 0.5rem;
  border-radius: 2rem !important;
  width: 40rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 4rem;
}

<<<<<<< HEAD
.txtCategoria {
  color: rgb(236, 236, 236) !important;
  font-size: 1.2rem !important;
=======
.botaobackground{
    background:#704292 !important;
    padding: 0.5rem;
    border-radius: 2rem !important;
    width: 16rem !important;
    height: 2.5rem;
    margin-left: 22rem !important;
    margin-top: 4.5rem !important;
    margin-right: auto !important;
    line-height: 2rem;
    
>>>>>>> cecd59602841c7715e0df32fff8fb838e5a5d9d4
}

.titleCategorias {
  color: white !important;
  font-weight: bold !important;
  font-size: 1.8rem !important;
}

.txtNome {
  color: rgb(236, 236, 236);
  font-weight: bold !important;
  font-size: 1.3rem !important;
}

.txtDescricao {
  color: white !important;
  word-break: break-all;
}

.caixaTitleEBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 185px;
  padding-right: 160px;
  margin-bottom: 30px;
}

/* Botões */

.btnNovaCategoria {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent !important;
  color: white;
  width: 12rem;
  height: 2.5rem;
  border: 1px solid white !important;
}

.botao {
  display: flex;
}

.btAtualizar {
  color: #360c58 !important;
  font-weight: bold !important;
  background-color: #d5b2ef !important;
  width: 7rem;
  height: 2.5rem;
  border-radius: 5rem !important;
}

.btDeletar {
  color: #360c58 !important;
  font-weight: bold !important;
  background-color: #d5b2ef !important;
  width: 7rem;
  height: 2.5rem;
  border-radius: 5rem !important;
}

.botaobackground {
  background: #704292 !important;
  padding: 0.5rem;
  border-radius: 2rem !important;
  width: 16rem !important;
  height: 2.5rem;
  margin-left: 22rem !important;
  margin-top: 4.5rem !important;
  margin-right: auto !important;
  line-height: 2rem;
}
