.text-decorator-none {
  text-decoration: none;
}

.bgListaP {
  background: #fff !important;
}

.fonteListaPe {
  font-family: "Poppins", sans-serif !important;
}

.marginLeftListaP {
  margin-left: 0px !important;
}

.bgListaPB {
  background-color: rgb(209, 88, 193) !important;
}

.bgbotaolista {
  background-color: #5e0d4c !important;
}

.feedback {
  display: flex !important;
  align-items: left !important;
  justify-content: left !important;
  margin-top: 10px !important;
  margin-left: 15px !important;
  margin-bottom: 0% !important;
}

.feedback2 {
  /* margin-top: 50px !important ;*/
  margin-left: 14px !important;
  font-family: "Poppins", sans-serif !important;
}

.buttonfeedback {
  margin-top: 10px !important;
}

.pad {
  margin-left: 14px !important;
  align-items: center !important;
}

.cont {
  margin-left: 14px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
