.textos{
    font-weight: bold !important;
    font-family: "Poppins", sans-serif !important;
}

.textos1{
    
    font-family: "Poppins", sans-serif !important;
    color: white;
}

.titulo{
    background-image: url(https://media.discordapp.net/attachments/1016308515167543417/1020017214809718877/2-removebg-preview.png) !important;
    background-repeat: 'no-repeat' !important;
    width: 300px !important;
    background-size: 300px 65px !important;
    background-position: center ;
    margin: auto;
}

.subtitulo{
    font-family: "Poppins", sans-serif !important;
    color: white;
    font-size: 18px !important;
    padding-top: 8px;
    
}

.btn{
  background-color: rgba(60,0,97,1)!important;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}


.background{
    background: rgb(118,44,173);
    background: linear-gradient(45deg, rgba(60,0,97,1) 0%, rgba(118,44,173,1) 50%, rgba(136,67,171,1) 100%);
    background-size: 100%;
    padding-bottom: 4.3rem
}

.text-decorator-none{
    text-decoration: none;
    font-family: "Poppins", sans-serif !important;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 3.75rem;
    margin-left: 6.7rem;
    padding: 0;
    box-sizing:content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 150px;
    position: relative;

}

.cadastrese{
    text-decoration: none;
    color: rgba(60,0,97,1);
    font-size: 70px !important;
    font-family: "Poppins", sans-serif !important;
}

.email .MuiOutlinedInput-root {
    background-color: rgba(248, 244, 250, 0.2) !important;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    text-decoration: none;
}

.senha .MuiOutlinedInput-root{
    background-color: rgba(248, 244, 250, 0.2) !important;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    text-decoration: none;
}

.MuiOutlinedInput-root{
    border-color: rgb(255, 255, 255) !important;
    border-style: ridge !important;

}


.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color:  rgba(248, 244, 250, 0)!important;
    
    
}

/*.MuiInputBase-root .MuiFormControl-root .MuiTextField-root
   ------ items do Inspecionar Elemento referentes à borda */

.lembrar{
    font-weight: bold !important;
    font-family: "Poppins", sans-serif !important;
    color: white !important;
}