.caixa {
  background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
  padding-bottom: 0%;
}

.titulohome {
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  width: 28.125rem;
  height: 5.625rem;
  padding-bottom: 0rem;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  box-sizing: border-box;
}

.botaohome {
  border-color: white !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  margin-left: 3.125rem !important;
  width: 90% !important;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.postagens {
  background-color: white;
  color: white !important;
  justify-items: right !important;
}
.margin-bottom {
  margin-bottom: 2.5rem !important;
}

.divhome {
  top: 8rem;
  left: 0rem;
}
.imgperfil {
  border: 0.313rem solid white;
  border-radius: 1.25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.313rem;
}
.perfil {
  color: white !important;
  font-family: "Poppins", 1.25rem/1 sans-serif !important;
  align-items: center !important;
  justify-content: center !important;
  padding-bottom: 1.25rem;
}
.perfilhome {
  color: white !important;
  font-family: "Poppins", 1.25rem/1 sans-serif !important;
  width: 28.125rem;
  height: 1.25rem;
  box-sizing: border-box;
}
