.fontefooter {
  /*background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  ) !important;*/
  background-color: rgb(206, 206, 206) !important;
  color: #3c0061 !important;
  height: 70px;
}

.bgdofooter {
  /*background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  ) !important;*/
  background-color: rgb(206, 206, 206) !important;
  height: 60px;
  color: #3c0061 !important;
  padding-top: 1% !important;
}

.esti {
  font-family: "Comfortaa", sans-serif !important;
  font-size: 100% !important;
}

.text {
  text-decoration: none !important;
  color: #3c0061 !important;
}

.iconesfooter {
  font-size: 225% !important;
  color: #3c0061 !important;
  margin-left: 10px;
  margin-right: 10px;
}
#redes{
font-weight: bold;
font-size: 115% !important; 
}
