.fontefooter {
  background-color: rgb(206, 206, 206) !important;
  color: #3c0061 !important;
  height: 70px;
}

.bgdofooter {
  background-color: rgb(206, 206, 206) !important;
  height: 60px;
  color: #3c0061 !important;
  padding-top: 1% !important;
}

.esti {
  font-family: 'Comfortaa', sans-serif !important;
  font-size: 100% !important;
}

.textFooter {
  text-decoration: none !important;
  color: #3c0061 !important;
}

.iconesfooter {
  font-size: 225% !important;
  color: #3c0061 !important;
  margin-left: 10px;
  margin-right: 10px;
}
#redes {
  font-weight: bold;
  font-size: 115% !important;
}
