.container {
  display: flex !important;
}
.titulo {
  margin-top: 50px !important;
}

.imagem {
  padding: 30px !important;
  border-radius: 50% !important;
  width: 300px !important;
  height: 300px !important;
}
.gridimagem {
  justify-content: right !important;
  padding-left: 120px;
}

.p-30 {
  padding: 30px !important;
}

.br-50 {
  border-radius: 15% !important;
}

.wh-300 {
  width: 400px !important;
  height: 400px !important;
}

.texto {
  padding: 100px !important;
}
