.containersobre {
  display: flex !important;
  background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
  margin-top: 0% !important;
  margin-bottom: 0px !important;
  width: 100% !important;
}

.titulo {
  color: #000 !important;
  background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
  margin-bottom: 0px !important;
  margin-top: 0% !important;
  font-family: 'Poppins', sans-serif !important;
}

.fontesobre {
  font-family: 'Poppins', sans-serif !important;
  font-size: 400% !important;
  color: #fff !important;
  margin-top: 2rem !important;
}

.imagem {
  padding: 30px !important;
  border-radius: 50% !important;
  width: 300px !important;
  height: 300px !important;
}
.gridimagem {
  justify-content: right !important;
  padding-left: 50px !important;
}

.p-30 {
  padding: 30px !important;
}

.br-50 {
  border-radius: 15% !important;
}

.wh-300 {
  width: 500px !important;
  height: 250px !important;
}

.textosobre {
  margin-top: 0% !important;
  padding: 130px !important;
}

.alinhar {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
}

.cordefundo {
  background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  );
  padding-top: 2% !important;
}

/* ====== Integrantes ===========*/
.titleIntegrantes {
  color: white !important;
  font-family: 'Poppins', sans-serif !important;

  display: flex;
  justify-content: center;
  justify-items: center;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.containerIntegrantes1 {
  display: flex;
}

.containerIntegrantes2 {
  display: flex;
}

.gridIntegrantes {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.fotosIntegrantes {
  height: 10rem;
  width: 10rem;
  border-radius: 60rem;
  margin-bottom: 0.5rem;
}

.nomeIntegrantes {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.iconIntegrantes {
  color: white;
  height: 2rem !important;
  width: 2rem !important;
  margin-right: 0.4rem;
}
