.backgroundpostagem {
  background: linear-gradient(45deg, rgba(60, 0, 97, 1) 0%, rgba(118, 44, 173, 1) 50%, rgba(136, 67, 171, 1) 100%) !important;
  height: 100vh !important;
  justify-content: center;
  align-items: center;
}

.backgroundform-postagem {
  border-radius: 2rem;
  width: 63rem!important;
  height: 33rem !important;
  background-color: #8f54ba;
  border: 0.0625rem solid rgba(255, 255, 255, 0.3) !important;
  margin-top: 3rem;
  
}

.form-cad-postagem {
  width: 30rem;
  margin-top: 2rem;
  margin-left: -15rem;
  padding-right: 5rem;
}

.enunciado-postagem-cad {
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  color: rgb(243, 243, 243) !important;
  padding-bottom: 1rem;
}

#texto {
  height: 9rem !important;
}

.titulo-postagem-cad {
  background-color: #d5b2ef !important;
  border-radius: 16px !important;
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.txt-field-cad-postagem {
  background-color: #d5b2ef !important;
  border-radius: 16px !important;
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.titulo-postagem-cad .MuiOutlinedInput-root {
  border-radius: 16px;
}

.txt-field-cad-postagem .MuiOutlinedInput-root {
  border-radius: 16px;
}

.centralizar-form {
  margin-left: 7rem;
}


.imagemFormularioPostagem {
  background-image: url(https://cdn.discordapp.com/attachments/988429116518850603/1022611684319301693/business-3d-young-women-looking-at-smartphone.png);
  background-repeat: no-repeat !important;
  background-size: 15rem;
  width: 5rem;
  height: 27rem;
  margin-top: 3.5rem;
  margin-right: -74rem;
  padding-right: 12rem;
  padding-left: 3rem;
  margin-left: 16rem;
}

#form-postagem-categoria-txt{
  color: white !important;
}

.cadastro-postagem-txt{
  color: white !important;
}

.button-cad-postagem {
  background-color: rgba(60, 0, 97, 1) !important;
}