.botaomodal {
  background-color: #762cad !important;
  font-family: "Poppins", sans-serif !important;
}

.cadastro {
  font-family: "Poppins", sans-serif !important;
}

.topo {
  font-family: "Poppins", sans-serif !important;
}
