/* Geral*/
* {
  margin: 0;
}

:root {
  /*colors*/
  --first--color: hsl(207, 10%, 49%);

  --text: hsl(0, 0%, 100%);
}

/* navbar*/
.text-decorator {
  text-decoration: none;
  color: #3c0061 !important;
}

.cursor {
  cursor: pointer;
  color: #3c0061 !important;
}

.appBar {
  background-color: var(--first--color) !important;
  position: fixed !important;
}

.options {
  pointer-events: all;
  opacity: 0;
  visibility: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  background-color: rgb(156, 153, 153) !important;
  /*background: linear-gradient(
    45deg,
    rgba(60, 0, 97, 1) 0%,
    rgba(118, 44, 173, 1) 50%,
    rgba(136, 67, 171, 1) 100%
  ) !important;*/
  /*overflow-x: hidden;*/
  /*overflow: hidden;*/
}

.modo {
  font-family: "Poppins", sans-serif !important;
}

.peso {
  font-weight: 500 !important;
}

/*.icon-menu {
  background-color: aqua !important;
}*/

/* responsividade */
@media (min-width: 900px) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  .options {
    opacity: 1;
    visibility: visible;
  }

  .icon-menu {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 3;
  }
}

/*arrumar responsividade em dispositivos menores*/
