.cursor {
  cursor: pointer;
}

.btnModal {
  color: #fff !important;
  border-color: white !important;
  font-family: "Poppins", sans-serif !important;
  margin-left: 75% !important;
  width: 100% !important;
}
