.cursor {
  cursor: pointer;
}
.botaomodal2 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 100 !important;
  background-color: rgb(156, 153, 153) !important;
  border: 0rem !important;
  border-radius: 0rem !important;
}
