
/* BACKGROUND - GRADIENTE  */
.container-cad-usuario {
    background: linear-gradient(45deg, rgba(60, 0, 97, 1) 0%, rgba(118, 44, 173, 1) 50%, rgba(136, 67, 171, 1) 100%) !important;
    height: 100vh;
}

/* BOX CADASTRO - BACKGROUND TRANSPARENTE*/
.cad-usuario {
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    width: 53.125rem !important;
    height: 32.5rem !important;
    border-radius: 3% !important;
    border: 0.0625rem solid rgba(255, 255, 255, 0.3) !important;
}

/* BOX BACKGROUND IMAGEM (IMAGEM 3D)*/
.img-cad-user {
    margin-top: 4rem !important;
    background-image: url(https://i.imgur.com/vmy7Wxs.png) !important;
    background-repeat: no-repeat !important;
    width: 18.75rem !important;
    background-size: 90% !important;
    padding-left: 4rem;

}

/* ESPAÇAMENTO IMAGEM x FORMULÁRIO */
.form-cad-usuario {
    margin-right: -3rem;
}

/* BOX BACKGROUND LOGO (SHAMEUP) FORMULARIO */
.form-cad-usuario-logo {
    background-image: url(https://media.discordapp.net/attachments/1016308515167543417/1020017214809718877/2-removebg-preview.png) !important;
    background-repeat: no-repeat !important;
    width: 18.75rem !important;
    background-size: 18.75rem 4rem !important;
    margin-left: -5rem;
    margin-top: 1rem;
}

/* ALINHAMENTO FORMULARIO + LOGO */
.formulario-cad-usuario {
    width: 3.125rem !important;
    margin-top: 4rem;
}

/* ESPAÇAMENTO DO TEXTIFIELD */
.margin-textfield-cad {
    margin: 6% !important;
}

/* FONTE DO TEXTFIELD */
.margin-textfield-cad .MuiInputBase-root {
    font-family: 'Poppins', sans-serif !important;
}

/* ESTILIZAÇÃO E ALINHAMENTO DOS TEXTFIELDS */
.typography-cad-user .MuiOutlinedInput-root {
    background-color: rgba(248, 244, 250, 0.335) !important;
    border-radius: 1rem;
    width: 15rem !important;
    height: 2.5rem !important;
    margin-left: 1rem;
    color: white !important;
    font-size: 14.5px !important;
}

/* CHECKBOX - PF & PJ */
.btn-radial.MuiFormGroup-root {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    margin-left: 65%;
    margin-top: 5%;
}

/* CORES (RADIAL) - BOTÕES PF & PJ */
.btn-radial .MuiRadio-root.Mui-checked {
    color: rgb(194, 144, 240) !important;
}

/* BOTÕES CANCELAR & CADASTRAR */
.btns {
    display: flex !important;
    margin-top: 7px;
}

/* BOX - BOTÃO CANCELAR */
.btn01 {
    padding-left: 50% !important;
    padding-top: 6% !important;
    margin: 5px;
}

/* BUTTON - CANCELAR */
.btnCancelar {
    background-color: rgb(194, 144, 240) !important;
    border-radius: 4% !important;
    font-weight: 700 !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}

/* BUTTON - CADASTRAR */
.btn02 {
    margin-top: 0.5rem !important;
    padding-top: 6% !important;
    margin: 5px;
    background-color: rgba(60, 0, 97, 1) !important;
    color: white !important;
    font-size: 0.875rem !important;
    font-weight: 700 !important;
    border-radius: 4% !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}

.fisica {
  display: block;
}

.juridica {
  display: none;
}

.esconder {
  display: none;
}

.mostrar {
  display: block;
}
