
.backgroundform-modal-postagem {
  border-radius: 2rem;
  width: 30rem!important;
  height: 34rem !important;
  background-color: #8f54ba;
  border: 0.0625rem solid rgba(255, 255, 255, 0.3) !important;
  margin-top: 1rem;
}

.form-cad-modal-postagem {
  width: 26rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.enunciado-modal-postagem {
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  color: rgb(243, 243, 243) !important;
}

#txtcad-modal-postagem {
  height: 9rem !important;
  font-family: "Poppins", sans-serif !important;
}

#titulocad-modal-postagem {
  font-family: "Poppins", sans-serif !important;
}

.textifield-modal-postagem {
  background-color: #d5b2ef !important;
  border-radius: 16px !important;
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.textifield-modal-postagem .MuiOutlinedInput-root {
  border-radius: 16px;
  
}

.centralizar-modal-postagem {
  margin-left: 5rem;
}

#form-modal-cad-postagem-categoria-txt{
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}

.cadastro-modal-postagem-txt{
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}

.botaomodal-postagem {
  background-color: rgba(60, 0, 97, 1) !important;
  margin-left: 5rem !important;
  font-family: "Poppins", sans-serif !important;
}

.checkbox-container-modal-cadastro-postagem  {
  margin:0.5rem !important;
}

.checkbox-anonimo-modal .MuiButtonBase-root{
  color: white !important;
  border-radius: 16px;
  backdrop-filter: blur(5px) !important;
}

.checkbox-anonimo-modal .MuiTypography-body1{
  font-family: "Poppins", sans-serif !important;
  color: white !important;
}
